@{
    ViewBag.Title = "Access Denied";
    
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-danger">
        @TempData["Message"]
    </div>
}
else
{
    <p>You do not have permission to view this property.</p>
    <button onclick="window.location.href='/Home/Index'">Back</button>
}
